
# Basic/minimal requirements
penman>=1.1.0
torch>=1.6
numpy
spacy>=2.0          # also requires model download `python -m spacy download en_core_web_sm`
tqdm
transformers>=4.16   # transformers>=4.16.0 required for training parse_xfm models. Inference should work with >=3.0
smatch

# Model specific
cached_property     # parse_spring model only
networkx            # parse_spring model only

# Used for amr_view / PlotAMR
PyQt5
graphviz            # this requires the Graphviz non-python library to be installed too (see pypi page)

# Used for testing/scoring trained models
nltk

# Other
unidecode           # model_parse_t5, LDC2020T02 pre-processing and adding wiki tags 
requests            # Adding wiki tags
word2number         # used in alignments code
